<body class="animsition">
	<%- include('../partials/navbar'); %>
		<style>
			body {
				color: #999;
				background: #FCEBF1 !important;
				font-family: 'Roboto', sans-serif;
			}

			.form-control {
				min-height: 41px;
				box-shadow: none;
				border-color: #e1e1e1;
			}

			.form-control:focus {
				border-color: #282222;
			}

			.form-control,
			.btn {
				border-radius: 3px;
			}

			.form-header {
				margin: -30px -30px 20px;
				padding: 30px 30px 10px;
				text-align: center;
				background: #282222;
				border-bottom: 1px solid #eee;
				color: #fff;
			}

			.form-header h2 {
				font-size: 34px;
				font-weight: bold;
				margin: 0 0 10px;
				font-family: 'Courgette', sans-serif;
			}

			.form-header p {
				margin: 20px 0 15px;
				font-size: 17px;
				line-height: normal;
				font-family: 'Courgette', sans-serif;
			}

			.forget-form {
				width: 590px;
				margin: 0 auto;
				padding: 30px 0;
			}

			.forget-form form {
				color: #999;
				border-radius: 3px;
				margin-bottom: 15px;
				background: #f0f0f0;
				box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
				padding: 30px;
			}

			.forget-form .form-group {
				margin-bottom: 20px;
			}

			.forget-form label {
				font-weight: normal;
				font-size: 14px;
			}

			.forget-form input[type="checkbox"] {
				position: relative;
				top: 1px;
			}

			.forget-form .btn {
				font-size: 16px;
				font-weight: bold;
				background: #282222;
				border: none;
				min-width: 200px;
			}

			.forget-form .btn:hover,
			.forget-form .btn:focus {
				background: #282222 !important;
				outline: none;
			}

			.forget-form a {
				color: #282222;
			}

			.forget-form a:hover {
				text-decoration: underline;
			}

			.divider:after,
			.divider:before {
				content: "";
				flex: 1;
				height: 1px;
				background: #dfd0d0;
			}
		</style>
			 <div class="forget-form">
                <form action="/email/reset-password" method="post">
                    <div class="form-header">
                        <h2>Forget password
                        </h2>
                    </div>
                        <% if (messages.error) { %>
                            <p style="color:red">
                                <%- messages.error %>
                            </p>
                        <% } %>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" name="email" required="required">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block btn-lg">Login</button>
                        </div>
                </form>
            </div>
			<!--===============================================================================================-->
			<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
			<!--===============================================================================================-->
			<script src="vendor/animsition/js/animsition.min.js"></script>
			<!--===============================================================================================-->
			<script src="vendor/bootstrap/js/popper.js"></script>
			<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
			<!--===============================================================================================-->
			<script src="vendor/select2/select2.min.js"></script>
			<script>
				$(".js-select2").each(function () {
					$(this).select2({
						minimumResultsForSearch: 20,
						dropdownParent: $(this).next('.dropDownSelect2')
					});
				})
			</script>
			<!--===============================================================================================-->
			<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
			<!--===============================================================================================-->
			<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
			<script>
				$('.js-pscroll').each(function () {
					$(this).css('position', 'relative');
					$(this).css('overflow', 'hidden');
					var ps = new PerfectScrollbar(this, {
						wheelSpeed: 1,
						scrollingThreshold: 1000,
						wheelPropagation: false,
					});

					$(window).on('resize', function () {
						ps.update();
					})
				});
			</script>
			<!--===============================================================================================-->
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes"></script>
			<script src="js/map-custom.js"></script>
			<!--===============================================================================================-->
			<script src="js/main.js"></script>

		</body>

</html>